<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fedemanager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/c11348c6ce.js" crossorigin="anonymous"></script>

    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        #form-container {
            height: calc(100vh - 64px);
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
    </style>
</head>
<body class="bg-gray-100">
    <nav class="bg-black p-4 text-white flex justify-between items-center">
        <div class="flex items-center">
          <a href="{% url 'pablofederico' %}" class=" ml-4">
            <i class="fa-solid fa-house text-red-500"></i> Home
          </a>
          <a href="{% url 'logout' %}" class=" ml-4">
            <i class="fa-solid fa-power-off text-red-500"></i> Logout
          </a>
        </div>
    </nav>
    <div id="form-container" class="py-32">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-2xl mx-4">
            <h1 class="text-xl mb-4 font-semibold text-gray-700">Cargar Disponibilidad</h1>
            <form method="post" class="space-y-4">
                {% csrf_token %}
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label class="block text-sm font-medium text-gray-700">{{ form.interno.label }}</label>
                        {{ form.interno|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                     </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700">{{ form.chofer.label }}</label>
                        {{ form.chofer|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                     </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700">{{ form.up.label }}</label>
                        {{ form.up|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                     </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700">{{ form.dia.label }}</label>
                        {{ form.dia|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700">{{ form.mes.label }}</label>
                        {{ form.mes|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                     </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700">{{ form.anio.label }}</label>
                        {{ form.anio|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700">{{ form.fecha_ingreso_de_obra.label }}</label>
                        {{ form.fecha_ingreso_de_obra|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700">{{ form.actividad.label }}</label>
                        {{ form.actividad|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                     </div>
                </div>
                <div class="flex justify-content-between p-1">
                    <label class="block text-sm font-medium text-gray-700">{{ form.cantidad_de_dias_en_obra.label }}</label>
                    {{ form.cantidad_de_dias_en_obra|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                </div>
                <div class="flex justify-center">
                    <button type="submit" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">Enviar</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
