<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cargo Interno</title>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body class="bg-gray-100">
  <nav class="bg-black p-4 text-white flex justify-between items-center">
    <div class="flex items-center">
      <button class="text-xl">
        <i class="fas fa-bars"></i>
      </button>
      <a href="{% url 'pablofederico' %}" class="text-red-500 ml-4">
        <i class="fas fa-home"></i> Home
      </a>
      <a href="{% url 'logout' %}" class="text-red-500 ml-4">
        <i class="fas fa-power-off"></i> Logout
      </a>
    </div>
  </nav>
  <div class="flex justify-center mt-8">
    <div class="w-2/3 bg-gray-200 p-8 shadow-md rounded-lg">
      <h1 class="text-3xl font-bold mb-6 text-center">Cargo Filtro {{ interno }}</h1>
      <form method="POST" class="flex flex-col items-center">
        {% csrf_token %}
        <div class="mb-4 w-full">
          <label for="id_filtro" class="block mb-2">Filtro:</label>
          {{ form.filtro|add_class:"w-full p-2 border border-gray-300 rounded" }}
        </div>
        <div class="mb-4 w-full">
          <label for="id_marca" class="block mb-2">Marca:</label>
          {{ form.marca|add_class:"w-full p-2 border border-gray-300 rounded" }}
        </div>
        <div class="mb-4 w-full">
          <label for="id_codigo" class="block mb-2">Código:</label>
          {{ form.codigo|add_class:"w-full p-2 border border-gray-300 rounded" }}
        </div>
        <button type="submit" class="bg-red-700 hover:bg-white hover:text-black text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
          Enviar
        </button>
      </form>
    </div>
  </div>
</body>
</html>
