<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cargo Interno</title>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://kit.fontawesome.com/c11348c6ce.js" crossorigin="anonymous"></script>

</head>
<body class="bg-gray-100">
  <nav class="bg-black p-4 text-white flex justify-between items-center">
        <div class="flex items-center">
          <a href="{% url 'pablofederico' %}" class=" ml-4">
            <i class="fa-solid fa-house text-red-500"></i> Home
          </a>
          <a href="{% url 'logout' %}" class=" ml-4">
            <i class="fa-solid fa-power-off text-red-500"></i> Logout
          </a>
        </div>
    </nav>
  
  <div class="flex justify-center mt-8">
    <div class="w-2/3 bg-gray-200 p-8 shadow-md rounded-lg">
      <h1 class="text-3xl font-bold mb-6 text-center">Cargo Neumatico {{ interno }}</h1>
      <form method="POST" class="flex flex-col items-center">
        {% csrf_token %}
        <div class="mb-4 w-full">
          <label for="id_filtro" class="block mb-2">Marca:</label>
          {{ form.marca|add_class:"w-full p-2 border border-gray-300 rounded" }}
        </div>
        <div class="mb-4 w-full">
          <label for="id_marca" class="block mb-2">Medida:</label>
          {{ form.medida|add_class:"w-full p-2 border border-gray-300 rounded" }}
        </div>
        <div class="mb-4 w-full">
          <label for="id_codigo" class="block mb-2">Código:</label>
          {{ form.codigo|add_class:"w-full p-2 border border-gray-300 rounded" }}
        </div>
        <button type="submit" class="bg-red-700 hover:bg-white hover:text-black text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
          Enviar
        </button>
      </form>
    </div>
  </div>
</body>
</html>
