<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fedemanager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/c11348c6ce.js" crossorigin="anonymous"></script>

    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        #form-container {
            height: calc(100vh - 64px);
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
        .checkbox-lg {
            transform: scale(1.5);
            margin-right: 0.5rem;
            margin-left: 1.6rem;
            cursor: pointer;
        }
    </style>
</head>
<body class="bg-gray-100">
    <nav class="bg-black p-4 text-white flex justify-between items-center">
        <div class="flex items-center">
          <a href="{% url 'pablofederico' %}" class=" ml-4">
            <i class="fa-solid fa-house text-red-500"></i> Home
          </a>
          <a href="{% url 'logout' %}" class=" ml-4">
            <i class="fa-solid fa-power-off text-red-500"></i> chau
          </a>
        </div>
    </nav>
    <div id="form-container" class="py-20">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-2xl mx-4">
            <h1 class="text-xl mb-4 font-semibold text-gray-700">Cargar Chofer</h1>
            <form method="post" class="space-y-4" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="grid grid-cols-1 gap-4">
                    <div>
                        <label class="block text-sm font-medium text-gray-700">Usuario: </label>
                        {{ form.usuario|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700">Fecha Ingreso: </label>
                        {{ form.fecha_ingreso|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700">DNI: </label>
                        {{ form.dni|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700">DNI PDF: </label>
                        {{ form.dni_pdf|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700">Licencia PDF: </label>
                        {{ form.licencia|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                    </div>

                </div>
                <div class="flex justify-center">
                    <button type="submit" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">Enviar</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
