<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Vista</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/static/assets/dist/img/logo32x32.png" type="image/png">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body class="bg-gray-100">
    <nav class="bg-black p-4 text-white flex justify-between items-center">
        <div class="flex items-center">
          <button class="text-xl">
            <i class="fas fa-bars"></i>
          </button>
          <a href="{% url 'pablofederico' %}" class="text-red-500 ml-4">
            <i class="fas fa-home"></i> Home
          </a>
          <a href="{% url 'logout' %}" class="text-red-500 ml-4">
            <i class="fas fa-power-off"></i> Logout
          </a>
    </div>
    </nav>

    <div class="container mx-auto mt-8">
        <h1 class="text-4xl font-bold text-center mb-6">{{ interno.interno }}</h1>
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% if formulario %}
                <form method="post" class="mb-4">
                    {% csrf_token %}
                    <div class="mb-4">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Enviar</button>
                </form>
            {% endif %}
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-4">
                <a class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="{% url 'novedades_info' interno.interno %}" role="button">Novedades de este Equipo</a>
                <a class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="{% url 'reparaciones_info' interno.interno %}" role="button">Reparaciones de este Equipo</a>
                <a class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="{% url "info_serv" interno.interno %}">Services de este Equipo</a>
                <a class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="{% url 'mostrar_filtros' interno.interno %}" role="button">Filtros</a>

            </div>
            <div class="text-gray-700 text-base">
                <p>UP: {{ interno.up }}</p>
                <p>Marca: {{ interno.marca }}</p>
                <p>Modelo: {{ interno.modelo }}</p>
                <p>Tipo Vehiculo: {{ interno.tipovehiculo }}</p>
                <p>Chasis: {{ interno.chasis }}</p>
                <p>Motor: {{ interno.motor }}</p>
                <p>Dominio: {{ interno.dominio }}</p>
                <p>Año: {{ interno.anio }}</p>
                <p>Aseguradora: {{ interno.aseguradora }}</p>
                <p>Seguro: {{ interno.seguro }}</p>
                <p>Seg. PDF: {{ interno.seguro_pdf }}</p>
                <p>ITV: {{ interno.itv }}</p>
                <p>ITV PDF: {{ interno.itv_pdf }}</p>
                <p>Tarjeta: {{ interno.tarjeta }}</p>
                <p>Tarj. PDF: {{ interno.tarjeta_pdf }}</p>
                <p>Propietario: {{ interno.propietario }}</p>
                <p>Chofer: {{ interno.chofer }}</p>
                <p>Valor Pesos: {{ interno.valorpesos }}</p>
                <p>Valor Dolares: {{ interno.valordolares }}</p>
                <p>Orden: {{ interno.orden }}</p>
                <p>Actividad Vehiculo: {{ interno.actividadvehiculo }}</p>
            </div>
        </div>
    </div>
</body>
</html>
