<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #000; /* Borde de 1 píxel sólido en color negro */
            padding: 8px; /* Espaciado para mejorar la apariencia */
            text-align: left;
        }

        th {
            background-color: #f2f2f2; /* Fondo gris para las celdas de encabezado */
        }
    </style>
</head>
<body>
    <p>Maestro Equipos</p>
    <div class="container d-inline-flex p-2" style="width: 100%; font-size: small;font-weight: 200;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="align-middle">Id</th>
                    {% if form_values.interno_value %}
                        <th scope="col" class="align-middle">Interno</th>
                    {% endif %}
                    {% if form_values.up_value %}
                        <th scope="col" class="align-middle">UP</th>
                    {% endif %}
                    {% if form_values.marca_value %}
                        <th scope="col" class="align-middle">Marca</th>
                    {% endif %}
                    {% if form_values.modelo_value %}
                        <th scope="col" class="align-middle">Modelo</th>
                    {% endif %}
                    {% if form_values.tipovehiculo_value %}
                        <th scope="col" class="align-middle">TipoV</th>
                    {% endif %}
                    {% if form_values.chasis_value %}
                        <th scope="col" class="align-middle">Chasis</th>
                    {% endif %}
                    {% if form_values.motor_value %}
                        <th scope="col" class="align-middle">Motor</th>
                    {% endif %}
                    {% if form_values.dominio_value %}
                        <th scope="col" class="align-middle">Dominio</th>
                    {% endif %}
                    {% if form_values.anio_value %}
                        <th scope="col" class="align-middle">Año</th>
                    {% endif %}
                    {% if form_values.aseguradora_value %}
                        <th scope="col" class="align-middle">Aseguradora</th>
                    {% endif %}
                    {% if form_values.seguro_value %}
                        <th scope="col" class="align-middle">Seguro</th>
                    {% endif %}
                    {% if form_values.seguro_pdf_value %}
                        <th scope="col" class="align-middle">Seg PDF</th>
                    {% endif %}
                    {% if form_values.itv_value %}
                        <th scope="col" class="align-middle">ITV</th>
                    {% endif %}
                    {% if form_values.itv_pdf_value %}
                        <th scope="col" class="align-middle">ITV PDF</th>
                    {% endif %}
                    {% if form_values.titulo_pdf_value %}
                        <th scope="col" class="align-middle">T PDF</th>
                    {% endif %}
                    {% if form_values.tarjeta_value %}
                        <th scope="col" class="align-middle">Tarjeta</th>
                    {% endif %}
                    {% if form_values.tarjeta_pdf_value %}
                        <th scope="col" class="align-middle">T PDF</th>
                    {% endif %}
                    {% if form_values.propietario_value %}
                        <th scope="col" class="align-middle">Dueño</th>
                    {% endif %}
                    {% if form_values.chofer_value %}
                        <th scope="col" class="align-middle">Chofer</th>
                    {% endif %}
                    {% if form_values.alquilado_value %}
                        <th scope="col" class="align-middle">Alquilado</th>
                    {% endif %}
                    {% if form_values.valorpesos_value %}
                        <th scope="col" class="align-middle">Valor P</th>
                    {% endif %}
                    {% if form_values.valordolares_value %}
                        <th scope="col" class="align-middle">Valor D</th>
                    {% endif %}
                    <th scope="col" class="align-middle">Orden</th>

                    <th scope="col" class="align-middle">Actividad</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in internos %}
                    <tr>
                        {% if form_values.id_value %}
                            <td>{{ dato.id }}</td>
                        {% endif %}
                        {% if form_values.interno_value %}
                            <td>{{ dato.interno }}</td>
                        {% endif %}
                        {% if form_values.up_value %}
                        <td>{{ dato.up }}</td>
                        {% endif %}
                        {% if form_values.marca_value %}
                        <td>{{ dato.marca }}</td>
                        {% endif %}
                        {% if form_values.modelo_value %}
                        <td>{{ dato.modelo }}</td>
                        {% endif %}
                        {% if form_values.tipovehiculo_value %}
                        <td>{{ dato.tipovehiculo }}</td>
                        {% endif %}
                        {% if form_values.chasis_value %}
                        <td>{{ dato.chasis }}</td>
                        {% endif %}
                        {% if form_values.motor_value %}
                        <td>{{ dato.motor }}</td>
                        {% endif %}
                        {% if form_values.dominio_value %}
                        <td>{{ dato.dominio }}</td>
                        {% endif %}
                        {% if form_values.anio_value %}
                        <td>{{ dato.anio }}</td>
                        {% endif %}
                        {% if form_values.aseguradora_value %}
                        <td>{{ dato.aseguradora }}</td>
                        {% endif %}
                        {% if form_values.seguro_value %}
                        <td>{{ dato.seguro }}</td>
                        {% endif %}
                        {% if form_values.seguro_pdf_value %}
                        <td>{{ dato.seguro_pdf }}</td>
                        {% endif %}
                        {% if form_values.itv_value %}
                        <td>{{ dato.itv }}</td>
                        {% endif %}
                        {% if form_values.itv_pdf_value %}
                        <td>{{ dato.itv_pdf }}</td>
                        {% endif %}
                        {% if form_values.titulo_pdf_value %}
                        <td>{{ dato.titulo_pdf }}</td>
                        {% endif %}
                        {% if form_values.tarjeta_value %}
                        <td>{{ dato.tarjeta }}</td>
                        {% endif %}
                        {% if form_values.tarjeta_pdf_value %}
                        <td>{{ dato.tarjeta_pdf }}</td>
                        {% endif %}
                        {% if form_values.propietario_value %}
                        <td>{{ dato.propietario }}</td>
                        {% endif %}
                        {% if form_values.chofer_value %}
                        <td>{{ dato.chofer }}</td>
                        {% endif %}
                        {% if form_values.alquilado_value %}
                        <td>{{ dato.alquilado }}</td>
                        {% endif %}
                        {% if form_values.valorpesos_value %}
                        <td>{{ dato.valorpesos }}</td>
                        {% endif %}
                        {% if form_values.valordolares_value %}
                        <td>{{ dato.valordolares }}</td>
                        {% endif %}
                        <td>{{ dato.orden }}</td>
                        <td>{{ dato.actividadvehiculo }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
