<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FedeManasher</title>
    <link rel="icon" href="/static/assets/dist/img/logo32x32.png" type="image/png">
    <script src="https://kit.fontawesome.com/c11348c6ce.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <nav class="bg-black p-4 text-white flex justify-between items-center">
        <div class="flex items-center">
          <a href="{% url 'pablofederico' %}" class=" ml-4">
            <i class="fa-solid fa-house text-red-500"></i> Home
          </a>
          <a href="{% url 'logout' %}" class=" ml-4">
            <i class="fa-solid fa-power-off text-red-500"></i> Logout
          </a>
        </div>
    </nav>
    <header class="bg-white shadow">
        <div class="grid justify-items-center mx-auto py-6 px-4">
            {% if alquiler %}
                <h1 class="text-3xl font-bold text-gray-900">Maestro Equipos Alquileres</h1>
            {% else %}
                <h1 class="text-3xl font-bold text-gray-900">Maestro Equipos</h1>
            {% endif %}
        </div>
    </header>
    <main class="my-8">
        <div class="container mx-auto px-6">
            <div class="flex justify-center space-x-4 mb-6">
                <a href="{% url 'cargointernos' %}" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">Cargo Equipos</a>
                <a href="{% url 'alquilerequipo' %}" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">Alquiler Equipo</a>
                <a href="{% url "exportar_internos" %}" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">Descargar Internos</a>
            </div>
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <form method="get" class="">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="interno">Interno:</label>
                        {{ filter.form.interno|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }}
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="up">UP:</label>
                        {{ filter.form.up|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }}
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="marca">Marca:</label>
                        {{ filter.form.marca|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }}
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="modelo">Modelo:</label>
                        {{ filter.form.modelo|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }}
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="dominio">Dominio:</label>
                        {{ filter.form.dominio|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }}
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="actividad">Actividad:</label>
                        {{ filter.form.actividadvehiculo|add_class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }}
                    </div>
                </div>
                <div class="text-center">
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="actividad">Dueño</label>
                        {{ filter.form.actividadvehiculo|add_class:'shadow appearance-none border rounded w-1/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' }}
                    </div>
                </div>
                <div class="flex items-center justify-center space-x-4 mt-4">
                    <button type="submit" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                        Filtrar
                    </button>
                    {% if alquiler %}
                        <a href="{% url "alquileresinternos" %}" class="bg-gray-600 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                            Limpiar Filtro
                        </a>
                    {% else %}
                        <a href="{% url "main-maestroequipos" %}" class="bg-gray-600 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                            Limpiar Filtro
                        </a>
                    {% endif %}
                    <button type="submit" name="excel" class="bg-gray-600 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                        <i class="fa-solid fa-download"></i>
                    </button>
                </div>
            </form>
        </div>
            {% if alquiler %}
            <!-- Totals section -->
                <div class="flex justify-between items-center px-6 py-4 bg-white rounded shadow-md">
                    <h2 class="text-xl font-semibold text-gray-800">Cantidad Pesos en alquileres: ${{ valor_total_pesos }}</h2>
                    <h2 class="text-xl font-semibold text-gray-800">Cantidad Dólares en alquileres: ${{ valor_total_dolares }}</h2>
                </div>
            {% else %}
                <div class="flex justify-between items-center px-6 py-4 bg-white rounded shadow-md">
                    <h2 class="text-xl font-semibold text-gray-800">Cantidad Pesos: ${{ valor_total_pesos }}</h2>
                    <h2 class="text-xl font-semibold text-gray-800">Cantidad Dólares: ${{ valor_total_dolares }}</h2>
                </div>
            {% endif %}
            <div class="bg-white shadow-md rounded-lg my-6 overflow-x-auto">
              <table class="min-w-full leading-normal">
                <thead>
                  <tr>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      Info
                    </th>
                    {% if alquiler %}
                      <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                          Precio Dolares
                      </th>
                      <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                            Precio Pesos
                      </th>
                    {% else %}
                        <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                          Id
                        </th>
                        <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                          Interno
                        </th>
                    {% endif %}
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      UP
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      Marca
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      Modelo
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      TipoV
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      Dominio
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      Año
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      Dueño
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      Orden
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      Actividad
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for dato in filter.qs %}
                    <tr>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <div class="flex items-center">
                          <a class="bg-red-600 hover:bg-red-700 text-white font-bold py-1 px-2 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110" href="{% url 'editar_interno' dato.id %}">Editar</a>
                          <a class="ml-1 bg-red-600 hover:bg-red-700 text-white font-bold py-1 px-2 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110" href="{% url 'info_interno' dato.id %}">Info</a>
                        </div>
                      </td>
                      {% if alquiler %}
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            {{ dato.valordolares }}
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            {{ dato.valorpesos }}
                        </td>
                      {% else %}
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                          {{ dato.id }}
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                          {{ dato.interno }}
                        </td>
                      {% endif %}
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.up }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.marca }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.modelo }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.tipovehiculo }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.dominio }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.anio }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.propietario }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.orden }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.actividadvehiculo }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

        </div>
    </main>
</body>
</html>
