<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>My First Heading</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.interno }}
        {{ form.taller }}
        {{ form.supervisor }}
        {{ form.mecanico_encargado }}
        {{ form.falla_general }}
        {{ form.horas_km_entrada }}
        {{ form.fecha_entrada }}
        {{ form.fecha_reparacion }}
        {{ form.estado_reparacion }}
        {{ form.estado_equipo }}
        {{ form.descripcion }}
        {{ form.apto_traslado }}
        {{ form.orden_reparacion }}
        <button type="submit">Guardar</button>
    </form>
</body>
</html>