<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #000; /* Borde de 1 píxel sólido en color negro */
            padding: 8px; /* Espaciado para mejorar la apariencia */
            text-align: left;
        }

        th {
            background-color: #f2f2f2; /* Fondo gris para las celdas de encabezado */
        }
    </style>
</head>
<body>
    <h1>Logistica</h1>
    <div class="container d-inline-flex p-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="align-middle">Editar</th>
                    <th scope="col" class="align-middle">Id</th>
                    <th scope="col" class="align-middle">Interno</th>
                    <th scope="col" class="align-middle">Carreton</th>
                    <th scope="col" class="align-middle">Chofer</th>
                    <th scope="col" class="align-middle">Remito</th>
                    <th scope="col" class="align-middle">Proveedor</th>
                    <th scope="col" class="align-middle">Origen</th>
                    <th scope="col" class="align-middle">Destino</th>
                    <th scope="col" class="align-middle">Km entre destinos</th>
                    <th scope="col" class="align-middle">Transporte</th>
                    <th scope="col" class="align-middle">Consumo km x litros</th>
                    <th scope="col" class="align-middle">Valor viaje</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in tabla_logistica %}
                    <tr>
                        <td><a class="btn btn-primary" href="{% url 'logistica_editar' dato.id%}" role="button">Editar</a></td>
                        <td>{{ dato.id }}</td>
                        <td>{{ dato.interno }}</td>
                        <td>{{ dato.carreton }}</td>
                        <td>{{ dato.choferlogistica }}</td>
                        <td>{{ dato.numeroremito }}</td>
                        <td>{{ dato.proveedor }}</td>
                        <td>{{ dato.origen }}</td>
                        <td>{{ dato.destino }}</td>
                        <td>{{ dato.kmentredestinos }}</td>
                        <td>{{ dato.transporte }}</td>
                        <td>{{ dato.consumekmxlitros }}</td>
                        <td>{{ dato.valorviaje }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>