<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>My First Heading</h1>
    <p>{{ requerimiento.id }}</p>
    <p>{{ requerimiento.up }}</p>
    <p>{{ requerimiento.tipo_equipo }}</p>
    <p>{{ requerimiento.fecha_inicial|date:"d/m/Y" }}</p>
    <p>{{ requerimiento.fecha_final|date:"d/m/Y" }}</p>
    <p>{{ requerimiento.solicitante }}</p>
    <p>{{ requerimiento.urgencia }}</p>
    <a href="{% utl "requerimiento_equipo_aprobar" requerimiento.id %}">Aprobar</a>
</body>
</html>