<!-- templates/mi_template.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Vista</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <h1>Vista General Maestros</h1>
    <p>Esta es una página de ejemplo para probar la vista en Django.</p>
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Filtrar</button>
    </form>
    <p><a href="{% url 'create-serv' %}">crear serv</a></p>
    <p><a href="{%url 'internos_pd_view' %}">Services PDF</a></p>
    <div class="container d-inline-flex p-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Editar</th>
                    {% for nombre in lista_nombres %}
                        <th scope="col">{{ nombre }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for dato, services in lista_services %}
                    <tr>
                        <td><a href="{% url 'editar_serv' dato%}">Editar</a></td>
                        {% for data in services %}
                                <td>{{ data }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
            {% endif %}
        </span>
    </div>
</body>
</html>