<!-- templates/mi_template.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Vista</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #000; /* Borde de 1 píxel sólido en color negro */
            padding: 8px; /* Espaciado para mejorar la apariencia */
            text-align: left;
        }

        th {
            background-color: #f2f2f2; /* Fondo gris para las celdas de encabezado */
        }
    </style>
    <script>
        document.querySelectorAll('th').forEach(header => {
        header.addEventListener('click', () => {
            window.location.search = `?order_by=${header.dataset.field}`;
            });
        });
    </script>
</head>
<body>
    <h1>Services</h1>
    <div class="container d-inline-flex p-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Editar</th>
                    {% for nombre in lista_nombres %}
                        <th scope="col">{{ nombre }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for dato in services %}
                    <tr>
                        <td><a class="btn btn-primary" href="{% url 'service_editar' dato.id%}" role="button">Editar</a></td>
                        <td>{{ dato.id }}</td>
                        <td>{{ dato.interno }}</td>
                        <td>{{ dato.fechaservicio }}</td>
                        <td>{{ dato.fechaparte }}</td>
                        <td>{{ dato.ultimoservice }}</td>
                        <td>{{ dato.planrealizado_hs }}</td>
                        <td>{{ dato.planrealizado }}</td>
                        <td>{{ dato.proximoservice }}</td>
                        <td>{{ dato.hsxkmactuales }}</td>
                        <td>{{ dato.hsxkmrestantes }}</td>
                        <td>{{ dato.necesidadservice }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>