<!-- templates/mi_template.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Vista</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #000; /* Borde de 1 píxel sólido en color negro */
            padding: 8px; /* Espaciado para mejorar la apariencia */
            text-align: left;
        }

        th {
            background-color: #f2f2f2; /* Fondo gris para las celdas de encabezado */
        }
    </style>
    <script>
        document.querySelectorAll('th').forEach(header => {
        header.addEventListener('click', () => {
            window.location.search = `?order_by=${header.dataset.field}`;
            });
        });
    </script>
</head>
<body>
    <h1>Services</h1>
    <div class="container d-inline-flex p-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="align-middle">interno</td>
                    <td class="align-middle">fechaservicio</td>
                    <td class="align-middle">fechaparte</td>
                    <td class="align-middle">ultimoservice</td>
                    <td class="align-middle">planrealizado_hs</td>
                    <td class="align-middle">planrealizado</td>
                    <td class="align-middle">proximoservice</td>
                    <td class="align-middle">hsxkmactuales</td>
                    <td class="align-middle">hsxkmrestantes</td>
                    <td class="align-middle">necesidadservice</td>
                    <td class="align-middle">operativo</td>
                </tr>
            </thead>
            <tbody>
                {% for dato in services %}
                    <tr>
                        <td class="align-middle">{{ dato.interno }}</td>
                        <td class="align-middle">{{ dato.fechaservicio|date:"d/m/Y" }}</td>
                        <td class="align-middle">{{ dato.fechaparte|date:"d/m/Y" }}</td>
                        <td class="align-middle">{{ dato.ultimoservice }}</td>
                        <td class="align-middle">{{ dato.planrealizado_hs }}</td>
                        <td class="align-middle">{{ dato.planrealizado }}</td>
                        <td class="align-middle">{{ dato.proximoservice }}</td>
                        <td class="align-middle">{{ dato.hsxkmactuales }}</td>
                        <td class="align-middle">{{ dato.hsxkmrestantes }}</td>
                        <td class="align-middle">{{ dato.necesidadservice }}</td>
                        <td class="align-middle">{{ dato.operativo }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>