<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FedeManager</title>
    <link rel="icon" href="/static/assets/dist/img/logo32x32.png" type="image/png">
    <script src="https://kit.fontawesome.com/c11348c6ce.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <nav class="bg-black p-4 text-white flex justify-between items-center">
        <div class="flex items-center">
          <a href="{% url 'pablofederico' %}" class=" ml-4">
            <i class="fa-solid fa-house text-red-500"></i> Home
          </a>
          <a href="{% url 'logout' %}" class=" ml-4">
            <i class="fa-solid fa-power-off text-red-500"></i> Logout
          </a>
        </div>
    </nav>
    <header class="bg-white shadow">
        <div class="grid justify-items-center mx-auto py-6 px-4">
            <h1 class="text-3xl font-bold text-gray-900">Services</h1>
        </div>
    </header>
    <main class="my-8">
        <div class="container mx-auto px-6">
            <div class="flex justify-center">
                <div class="bg-white shadow-md rounded px-4 pt-6 pb-6 mb-4 w-1/3">
                    <div class="grid justify-items-center grid-cols-1 space-x-4 mb-6">
                        <form method="post" class="space-y-4 mb-4">
                            {% csrf_token %}
                            <div class="grid grid-cols-1 md:flex space-x-3 items-center justify-center">
                                <div class="flex items-center space-x-3">
                                    <label class="block text-sm font-medium text-gray-700">Interno: </label>
                                    {{ form.interno|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                                </div>
                                <div class="">
                                    <button type="submit" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">Cargar Service</button>
                                </div>
                            </div>
                        </form>
                        <div class="grid grid-cols-2 gap-3">
                            <a class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110" href="{% url 'services_pd_view' %}">Services PDF</a>
                            <a class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110" href="{% url 'exportar_normales' %}">Descargar Normales</a>
                            <a class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110" href="{% url 'exportar_proximos' %}">Descargar Proximos</a>
                            <a class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110" href="{% url 'exportar_necesitan' %}">Descargar Necesitados</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center">
                <form method="get" class="space-y-2 mb-2">
                    {% csrf_token %}
                    <div class="flex space-x-3 items-center justify-center">
                        <div class="flex items-center space-x-3">
                            <label class="block text-sm font-medium text-gray-700">Up: </label>
                            {{ filter.form.up|add_class:"mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" }}
                        </div>
                        <div class="">
                            <button type="submit" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">Filtrar</button>
                        </div>
                        <a href="{% url "serviceprin" %}"><i class="fa-solid fa-xmark text-l bg-gray-600 hover:bg-gray-800 text-white font-bold py-3 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110"></i></a>
                        <button type="submit" name="excel" class="bg-gray-600 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                        <i class="fa-solid fa-download"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="bg-white shadow-md rounded-lg my-6 overflow-x-auto">
              <table class="min-w-full leading-normal">
                <thead>
                  <tr>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      Info
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      Id
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      Interno
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      F.Service
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      F.Parte
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      Ult.Service
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      P.RealizadoXhs
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      P.Realizado
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      Prox.Service
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      HSxKS Act
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      HSxKM Res
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      Estado
                    </th>
                    <th scope="col" class="px-5 py-3 bg-gray-900 text-left text-xs font-semibold text-white uppercase tracking-wider">
                      Operativo
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for dato in filter.qs %}
                    <tr>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <div class="flex items-center">
                          <a class="bg-red-600 hover:bg-red-700 text-white font-bold py-1 px-2 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110" href="{% url "info_serv" dato.interno %}">Editar</a>
                        </div>
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.id }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.interno }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.fechaservicio|date:"d/m/Y" }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.fechaparte|date:"d/m/Y" }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.ultimoservice }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.planrealizado_hs }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.planrealizado }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.proximoservice }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.hsxkmactuales }}
                      </td>
                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        {{ dato.hsxkmrestantes }}
                      </td>
                      <td class="align-middle" class="px-5 py-5 border-gray-200 text-sm" style="{% if dato.necesidadservice == 'Normal' %} background-color: #90EE90; {% elif dato.necesidadservice == 'Proximo' %} background-color:#FFFF00; {% elif dato.necesidadservice == 'Necesita Service' %} background-color:#DC143C; {% endif %} border-bottom-width: 1px; border-color: rgb(55 65 81);">
                            {{ dato.necesidadservice }}
                      </td>
                      <td class="align-middle" class="px-5 py-5 border-b border-gray-200 text-sm" style="{% if dato.operativo == 'Operativo' %} background-color: #90EE90;  {% elif dato.operativo == 'Inoperativo' %} background-color:#DC143C; {% endif %} border-bottom-width: 1px; border-color: rgb(55 65 81);">
                            {{ dato.operativo }}
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

        </div>
    </main>
</body>
</html>
