<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if procesado %}
        <h2>Su peticion ha sido realizada con exito a excepcion de los siguientes items</h2>
    {% else %}
        <h2>Ha ocurrido un error en su peticion</h2>
        <h1>Su pedido fue:</h1>
    {% endif %}
    <h2>Informe de este faltante al area pertinente</h2>
    {% for item in items_not_disc %}
        <p>{{ item.item_code }} - {{ item.item_name }}</p>
    {% endfor %}
</body>
</html>