<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Orden de Reparación</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .error-message {
            color: red;
            display: none;
        }
    </style>
</head>
<body class="bg-gray-50 p-60 py-16">
    <h1 class="text-2xl font-bold mb-6">Crear Orden de Reparación</h1>
    <form method="post" id="orden-form" class=" bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        {{ form.up|add_class:"w-auto px-4 py-2 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out mb-1 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" }}
        <div id="items-container" class="mb-3 w-full">
            <!-- Dynamic items will be inserted here -->
        </div>
        <button type="button" id="add-item" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Agregar Ítem</button>
        <input type="submit" value="Guardar Orden de Reparación" class="ml-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
    </form>
    <script>
        // Pass the items by warehouse data to the JavaScript file
        var itemsByWarehouse = {{ items|safe }};
    </script>
    <script>
document.addEventListener('DOMContentLoaded', () => {
    const addItemButton = document.getElementById('add-item');
    const itemsContainer = document.getElementById('items-container');

    addItemButton.addEventListener('click', addNewItemRow);

    function addNewItemRow() {
        const uniqueId = Date.now();
        const newItemRow = document.createElement('div');
        newItemRow.classList.add('item-row');
        newItemRow.innerHTML = `
            <select name="warehouse[]" class="warehouse-select w-auto px-4 py-2 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none mr-0.5 mt-2" onchange="updateItemOptions(this, ${uniqueId})">
                <option value="">Almacen</option>
                {% for item in warehouse_list %}
                <option value="{{ item }}" >{{ item }}</option>
                {% endfor %}
                <!-- Add other warehouses as needed -->
            </select>
            <select name="item_code[]" id="item-select-${uniqueId}" class="item-select w-3/6 px-4 py-2 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none mx-0.5">
                <option value="">Elegi el Item</option>
                <!-- Items will be populated based on warehouse selection -->
            </select>
            <input type="number" name="cantidad[]" id="quantity-${uniqueId}" placeholder="Cantidad" min="1" class="quantity-input appearance-none w-auto px-4 py-2 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none mx-0.5">
            <button type="button" onclick="this.parentElement.remove()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-2 md:mt-0 mx-0.5">Remove</button>
        `;
        itemsContainer.appendChild(newItemRow);
    }

    window.updateItemOptions = (warehouseSelect, uniqueId) => {
        const warehouse = warehouseSelect.value;
        const itemSelect = document.getElementById(`item-select-${uniqueId}`);
        // Assume itemsByWarehouse is a global variable containing item data
        const items = itemsByWarehouse[warehouse] || [];

        itemSelect.innerHTML = '<option value="">Elegi el item</option>';
        items.forEach(item => {
            const option = new Option(`${item.ItemCode} - ${item.ItemName} (${item.QuantityOnStock} Disponible)`, item.ItemCode);
            option.dataset.stock = item.QuantityOnStock; // Attach stock data to the option for later use
            itemSelect.appendChild(option);
        });
    };

    // Event listener for handling quantity input validation
    document.getElementById('items-container').addEventListener('input', function(event) {
        if (event.target.classList.contains('quantity-input')) {
            const itemSelect = event.target.previousElementSibling;
            const selectedOption = itemSelect.options[itemSelect.selectedIndex];
            const maxStock = selectedOption.dataset.stock;

            if (parseInt(event.target.value, 10) > parseInt(maxStock, 10)) {
                alert(`La cantidad sobrepasa el maximo (${maxStock}).`);
                event.target.value = maxStock; // Set to max stock available
            }
        }
    });
});
    </script> <!-- Link to the JavaScript file -->
</body>
</html>
