<!-- templates/mi_template.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Vista</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
    
        th, td {
            border: 1px solid #000; /* Borde de 1 píxel sólido en color negro */
            padding: 8px; /* Espaciado para mejorar la apariencia */
            text-align: left;
        }
    
        th {
            background-color: #f2f2f2; /* Fondo gris para las celdas de encabezado */
        }
    </style>
    <script>
        document.querySelectorAll('th').forEach(header => {
        header.addEventListener('click', () => {
            window.location.search = `?order_by=${header.dataset.field}`;
            });
        });
    </script>
</head>
<body>
    <h1>Vista General Maestros</h1>
    <p>Esta es una página de ejemplo para probar la vista en Django.</p>
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Filtrar</button>
    </form>
    <p><a href="{% url 'reparaciones-crear' %}">crear reparacion</a></p>
     <table>
        <thead>
            <tr>
                <th>Editar</th>
                {% for nombre in lista_nombres %}
                    <th>{{ nombre }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for dato, reparacion in lista_reparaciones %}
                <tr>
                    <td><a href="{% url 'reparaciones-editar' dato%}">Editar</a></td>
                    {% for data in reparacion %}
                            <td>{{ data }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>