<!-- templates/mi_template.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Vista</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'pablofederico'%}" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'inicio-sesion'%}" class="nav-link">login</a>
      </li>
    </ul>
</nav>
<body>
    <h1>Vista General Maestros</h1>
    <p>Esta es una página de ejemplo para probar la vista en Django.</p>
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Filtrar</button>
    </form>
    <p><a class="btn btn-primary" href="{% url 'reparaciones_pd_view' %}" role="button">Reparaciones PDF</a></p>
     <div class="container d-inline-flex p-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Editar</th>
                    {% for nombre in lista_nombres %}
                        <th scope="col">{{ nombre }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for dato in reparaciones %}
                    <tr>
                        <td><a class="btn btn-primary" href="{% url 'reparaciones-editar' dato.id%}" role="button">Editar</a></td>
                        <td>{{ dato.id }}</td>
                        <td>{{ dato.interno }}</td>
                        <td>{{ dato.ubicacion }}</td>
                        <td>{{ dato.falla }}</td>
                        <td>{{ dato.porcentajeavance }}</td>
                        <td>{{ dato.fechareparacionestimada }}</td>
                        <td>{{ dato.fechaentrada }}</td>
                        <td>{{ dato.fechasalida }}</td>
                        <td>{{ dato.estadoreparacion }}</td>
                        <td>{{ dato.estadoequipo }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>