<!-- templates/mi_template.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Vista</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #000; /* Borde de 1 píxel sólido en color negro */
            padding: 8px; /* Espaciado para mejorar la apariencia */
            text-align: left;
        }

        th {
            background-color: #f2f2f2; /* Fondo gris para las celdas de encabezado */
        }
    </style>
</head>
<body>
    <h1>Reparaciones Activas</h1>
     <div class="container d-inline-flex p-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="align-middle">Interno</th>
                    <th scope="col" class="align-middle">Ubicacion</th>
                    <th scope="col" class="align-middle">Falla</th>
                    <th scope="col" class="align-middle">Estado Reparacion</th>
                    <th scope="col" class="align-middle">Fecha Reparacion Estimada</th>
                    <th scope="col" class="align-middle">Mecanico Encargado</th>
                    <th scope="col" class="align-middle">Fecha Entrada</th>
                    <th scope="col" class="align-middle">Fecha Salida</th>
                    <th scope="col" class="align-middle">Estado Equipo</th>
                    <th scope="col" class="align-middle">Descripcion</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in tabla %}
                    <tr>
                        <td>{{ dato.interno }}</td>
                        <td>{{ dato.ubicacion|linebreaks }}</td>
                        <td>{{ dato.falla_general|linebreaks }}</td>
                        <td>{{ dato.estadoreparacion|linebreaks }}</td>
                        <td>{{ dato.fechareparacionestimada|linebreaks }}</td>
                        <td>{{ dato.mecanico_encargado|linebreaks }}</td>
                        <td>{{ dato.fechaentrada|linebreaks }}</td>
                        <td>{{ dato.fechasalida|linebreaks }}</td>
                        <td>{{ dato.estadoequipo|linebreaks }}</td>
                        <td>{{ dato.descripcion|linebreaks }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>